


<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>weather </title>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">





</head>

<body>
  <nav class="row" style="background: #337ab7; color: white;">
    <h1 class="col-md-3 text-center">Know the Weather</h1>
  </nav>
  <br />
  <br />
  <center class="row">
    <form method="post" action="/" class="col-md-6 col-md-offset-3">
      <div class="input-group">
        <input type="text" class="form-control" name="city" placeholder="Search">
        <div class="input-group-btn">
          <button class="btn btn-primary" type="submit">
            <i class="glyphicon glyphicon-search"></i>
          </button>
        </div>
        <form>
  </center>
  <br>
  <br>

 <div class ="row ">
  <div class="col-md-6 col-md-offset-3">
   <h3> Sorry, Couldnt fetch the weather data of the city that you are looking for.
    <br>Check the spelling and try again :(<h3>
  </div>
</div>



</body>

</html>